.fa-solid {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: var(--color-white);
  margin-right: 1rem;
  z-index: 5;
}

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 90vh;
}

.carousel-slide > img {
  min-width: 100%;
}

.fa-arrow-right,
.fa-arrow-left {
  position: absolute;
  top: 50%;
  z-index: 3;
  font-size: 4rem;
  color: var(--secondary-color);
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.fa-arrow-right {
  transform: translateX(50px);
  right: 3%;
}

.fa-arrow-left {
  left: 3%;
  transform: translateX(-50px);
}
#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 3;
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
}

#prevBtn {
  left: 3%;
}

#nextBtn {
  right: 3%;
}

.carousel-container:hover .fa-arrow-right {
  opacity: 0.7;
  transform: translateX(0);
}

.carousel-container:hover .fa-arrow-left {
  opacity: 0.7;
  transform: translateX(0);
}

.carousel-headers-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-test {
  background-color: rgba(0, 29, 35, 0.4);
  border-radius: 3rem;
  padding: clamp(5rem, 2vw, 6rem);
  z-index: 3;
  position: absolute;
  top: 40%;
  font-size: clamp(3rem, 2vw, 5rem);
  color: var(--color-white);
  transform: translateY(150%);
  opacity: 0;
  transition: all 1s ease;
  letter-spacing: 0.3rem;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

.right-circle,
.left-circle {
  background-color: var(--secondary-color);
  opacity: 0;
  transform: scale(0);
  position: absolute;
  z-index: 3;
  border-radius: 100%;
}

.right-circle {
  width: clamp(20rem, 20vw, 55rem);
  height: clamp(20rem, 20vw, 55rem);
  right: -3%;
  top: -6%;
  transition: all 1.1s ease-in-out;
}

.left-circle {
  background-color: var(--primary-color);
  width: clamp(15rem, 15vw, 35rem);
  height: clamp(15rem, 15vw, 35rem);
  left: -3%;
  bottom: -6%;
  transition: all 0.6s ease-in-out;
}

.active-circle {
  transform: scale(1);
  opacity: 0.4;
}

.animated-buttons {
  position: absolute;
  top: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.about-link,
.info-link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  top: 50%;
  z-index: 4;
  cursor: pointer;
  border-radius: 3rem;
  padding: 2rem 3rem;
  transform: translateY(150%);
  opacity: 0;
}

.about-link {
  background-color: var(--primary-color);
  transition: transform 0.6s, opacity 0.6s, background-color 0.4s ease-in-out;
}
.info-link {
  border: 1px solid var(--color-white);
  transition: transform 0.8s, opacity 0.8s, background-color 0.4s,
    border-color 0.4s ease-in-out;
}

.about-link:hover {
  background-color: var(--secondary-color);
}

.info-link:hover {
  background-color: var(--primary-color);
  border: 1px solid transparent;
}

.active-link {
  transform: translateY(0);
  opacity: 1;
}

/* main section */

.header-container {
  width: 100%;
  height: clamp(5rem, 5vw, 15rem);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 29, 35, 0.7); */
}

.header {
  font-size: clamp(2rem, 2vw, 4rem);
  color: var(--color-white);
  background-color: var(--secondary-color);
  padding: 4rem 8rem;
  border-radius: var(--border-radius);
  z-index: 10;
  transform: translateY(-50%);
}

.second-header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.text-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 2vw, 15rem);
  padding: 8rem 0;
}

.fa-temperature-arrow-down,
.fa-snowflake,
.fa-circle-info {
  font-size: clamp(2rem, 2vw, 4.5rem);
}
.about-text {
  font-size: clamp(1rem, 1vw, 2rem);
  color: var(--color-white);
  margin-top: 2rem;
}

.about-text-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 25rem;
  max-width: 35rem;
  height: clamp(30rem, 30vw, 50rem);
  border-radius: var(--border-radius);
  background-color: rgba(0, 159, 228, 0.7);
  padding: 3rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.about-text-card:hover {
  transform: translateY(-20px) scale(1.1);
}

@media (max-width: 850px) {
  .text-container {
    flex-wrap: wrap;
  }
}

/* footer */

/* mobile nav bar */
