li::marker {
  content: "❄";
  letter-spacing: 0.7rem;
  color: var(--primary-color);
}

.content-paragraph,
.list-item {
  font-size: clamp(1.4rem, 1vw, 1.6rem);
}

.content-paragraph {
  margin-top: 2rem;
}

.list-item {
  margin-left: 3rem;
}

.o-firmie-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(5rem, 5vw, 15rem);
  padding: 10rem 2rem;
}

.o-firmie-text-wrapper {
  width: 40%;
  max-width: 90rem;
  min-width: 50rem;
}

.o-firmie-img {
  width: 45%;
  min-width: 60rem;
  max-width: 75rem;
}

@media (max-width: 650px) {
  .o-firmie-img {
    width: 100%;
    min-width: 5rem;
  }

  .o-firmie-content-container {
    gap: 3rem;
    padding: 5rem 0rem;
  }

  .o-firmie-text-wrapper {
    padding: 1rem;
    width: 80%;
    min-width: 25rem;
  }
}
